@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<form method="post" @onsubmit="SubmitKey">
    <label>
        Your Name:
        <InputText @bind-Value="userName"/>
    </label>
    <label>
        Key Name:
        <InputText @bind-Value="keyName"/>
    </label>
    <button type="submit">Generate</button>
</form>

@test1

<form method="post" @onsubmit="DeleteKey">
    <label>
        Your Name:
        <InputText @bind-Value="userName"/>
    </label>
    <label>
        Key Name:
        <InputText @bind-Value="keyName"/>
    </label>
    <button type="submit">Delete</button>
</form>

@test2

@code {

    private string userName = string.Empty;
    private string keyName = string.Empty;
    private string test1 = "Not Generated";
    private string test2 = string.Empty;

    private async Task SubmitKey()
    {
        if (string.IsNullOrWhiteSpace(userName) || string.IsNullOrWhiteSpace(keyName))
        {
            return;
        }

        var keyRequest = new { UserName = userName, KeyName = keyName };
        var result = await Http.PostAsync("https://localhost:7157/api-key", JsonContent.Create(keyRequest));

        if (!result.IsSuccessStatusCode)
        {
            test1 = $"HTTP {result.StatusCode}";
        }
        else 
        {
            var key = await result.Content.ReadAsStringAsync();
            test1 = $"Your key is {key}";
        }
    }

    private async Task DeleteKey()
    {
        if (string.IsNullOrWhiteSpace(userName) || string.IsNullOrWhiteSpace(keyName))
        {
            return;
        }

        var result = await Http.DeleteAsync($"https://localhost:7157/api-key/{userName}/{keyName}");

        test2 = result.IsSuccessStatusCode ? "Key deleted" : $"HTTP {result.StatusCode}";
    }

}
